<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Project to Marketplace</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Project Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Project Manager(s):</label>
        <br>
        <input #newManager>
      </div>

      <div>
        <label>Project Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Project Goal:</label>
        <br>
        <input #newGoal placeholder="$">
      </div>

      <div>
        <label>Project Plan:</label>
        <br>
        <textarea #newPlan></textarea>
      </div>

      <div>
        <h3>Project Reward Tiers:</h3>
        <div>
          <label>First Tier pledge amount:</label>
          <br>
          <input #newTier1Amount placeholder="$">
          <br>
          <label>First Tier Reward</label>
          <br>
          <textarea #newTier1Reward></textarea>
          <br>
          <label>First Tier pledge limit:</label>
          <br>
          <input #newTier1Limit type="number" placeholder="Enter availability of tier">
        </div>
      </div>

      <div>
        <label>Type:</label>
        <br>
        <select #newType>
          <option value="charity">Charity</option>
          <option value="startup">Startup</option>
        </select>
      </div>

      <div>
        <label>Tag:</label>
        <br>
        <select #newTag>
          <option value="animals">Animals</option>
          <option value="art">Art</option>
          <option value="health">Health</option>
          <option value="home">Home</option>
          <option value="kids">Kids</option>
          <option value="recreation">Recreation</option>
          <option value="social">Social</option>
          <option value="technology">Technology</option>
          <option value="transportation">Transportation</option>
        </select>
      </div>


      <button (click)="submitForm(newName.value, newManager.value, newDescription.value, newGoal.value, newPlan.value, newTier1Amount.value, newTier1Reward.value, newTier1Limit.value, newType.value, newTag.value); newName.value=''; newManager.value=''; newDescription.value=''; newGoal.value=''; newPlan.value=''; newTier1Amount.value=''; newTier1Reward.value=''; newTier1Limit.value=''; newType.value=''; newTag.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-marketplace></app-marketplace>
</div>
