<h2>Marketplace</h2>

<select (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="animals">Animals</option>
  <option value="art">Art</option>
  <option value="health">Health</option>
  <option value="home">Home</option>
  <option value="kids">Kids</option>
  <option value="recreation">Recreation</option>
  <option value="social">Social</option>
  <option value="recreation">Technology</option>
  <option value="transportation">Transportation</option>
</select>

<div *ngFor="let project of projects | async | tagged:filterByTagged" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(project)"><strong>{{project.name}}</strong></h3>
    <h4>${{project.goal}} goal</h4>
    <h4>{{project.description}}</h4>
    <div *ngIf="currentRoute === '/admin'">
      <app-edit-project [selectedProject]="project"></app-edit-project>
    </div>
  </div>
</div>
